/* custom.css */
.gradient-text {
  background: linear-gradient(
    89deg,
    #9845e8 3.33%,
    #33d2ff 43.52%,
    #dd5789 76.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for non-webkit browsers */
}

.gradient-bg {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(78, 138, 255, 0.2) 0%,
      rgba(78, 138, 255, 0) 100%
    ),
    var(--Gray-Dark-Default, #030712);
}

.pics-border {
  /* width: 425px; */
  border-radius: 300px;
  border-width: 12px;
  border-color: var(--Gray-2, #4f4f4f50);
  width: 25rem;
}

.hamburger-icon span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

.custom-gradient-bg {
  background: linear-gradient(
    225.4deg,
    #2d65e9 0%,
    #616dda 48.12%,
    #2c979e 93.59%
  );
  font-weight: 300;
}

.selected-gradient-bg {
  background: radial-gradient(
    100% 100% at 50.1% 100%,
    rgba(78, 138, 255, 0.2) 0%,
    rgba(78, 138, 255, 0) 100%
  );
}

